@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&display=swap');

.hidden {
  display: none;
}

.hide-header {
  display: none;
}

#hide-header-econ {
  display: none;
}

#hide-header-countries {
  display: none;
}


html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


/* splash screen */
* {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: Bebas Neue, helvetica neue, helvetica, arial, sans-serif;
 -webkit-font-smoothing: antialiased;
}

a{color: #000; text-decoration: none;}
a:hover{color: #000; text-decoration: none;}

body {
  background: #fafafa;
  background-color: #74DA9F;
  /* background-color: #3AAFA9; */
  /* background-color: #FFCCBC; */
  /* background-color: #A8D1E7; */
  /* background-color: #EEE2DC; */
  overflow-y: hidden;
}  

body::-webkit-scrollbar {
  display: none;
}

p {
  float: left; 
  line-height: 50px;
  font-size: 200%;
  color: #888;
}

.navbar {
  font-size: 32px;
  background-color: #1F2833!important;
  font-family: Bebas Neue!important;
  /* font-family: 'Jost', sans-serif !important; */
}

.navlink {
  color: white!important;
}

.navbar-brand {
  margin-left: 15px;
}

.scroller {
  height: 50px;
  line-height: 50px;
  float: left;
  margin-top: 18em;
  margin-left: 5px;
  overflow: hidden;
}

.scroller span {
  display: block; 
  font-size: 280%;
  color: rgb(92, 87, 87);
}

.scroller .inner {
  -webkit-animation: scroll 15s 3 ease-out;
  -moz-animation: scroll 15s 3 ease-out;
  animation: scroll 15s 3 ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.blue {
  -webkit-animation: color 0.25s 1 linear;
  -moz-animation: color 0.25s 1 linear;
  animation: color 0.25s 1 linear;
  
     -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
  
     -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
}


.blueb {
  -webkit-animation: color 0.25s 1 linear;
  -moz-animation: color 0.25s 1 linear;
  animation: color 0.25s 1 linear;
  
        -webkit-animation-delay: 12.25s;
  -moz-animation-delay: 12.25s;
  animation-delay: 12.25s;
  
     -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@-webkit-keyframes color {
  0%  {color: #000;}
  100% {color: #2c90c6;}
}

@-moz-keyframes color {
  0%  {color: #000;}
  100% {color: #2c90c6;}
}

@keyframes color {
  0%  {color: #000;}
  100% {color: #2c90c6;}
}




@-webkit-keyframes scroll {
  11%  {margin-top: 0px;}
  22%  {margin-top: 0px;}
  33%  {margin-top: -50px;}
  44%  {margin-top: -50px;}
  55%  {margin-top: -100px;}
  66%  {margin-top: -100px;}
  77%  {margin-top: -150px;}
  88%  {margin-top: -150px;}
  100% {margin-top: -150px;}
}

@-moz-keyframes scroll {
  11%  {margin-top: 0px;}
  22%  {margin-top: 0px;}
  33%  {margin-top: -50px;}
  44%  {margin-top: -50px;}
  55%  {margin-top: -100px;}
  66%  {margin-top: -100px;}
  77%  {margin-top: -150px;}
  88%  {margin-top: -150px;}
  100% {margin-top: -150px;}
}

@keyframes scroll {
  11%  {margin-top: 0px;}
  22%  {margin-top: 0px;}
  33%  {margin-top: -50px;}
  44%  {margin-top: -50px;}
  55%  {margin-top: -100px;}
  66%  {margin-top: -100px;}
  77%  {margin-top: -150px;}
  88%  {margin-top: -150px;}
  100% {margin-top: -150px;}
}


div#footer {
  position:fixed;
  text-align: center;
  margin-top: 10em;
  bottom:0px;
  left:0px;
  width:100%;
  color:grey;
  padding:8px;
}

.chart-body{
  margin-top: 5em;
  height: 100%;
}

